# Series 란?

- Series 란 Data 컬럼이 1개인 자료구조이며, 인덱스와 1개의 열로 구성되어 있음

# Series 만드는 방법 

- pandas.Series()에 DataType이 1. 리스트, 혹은 2. 딕셔너리로 만들 수 있음
- 딕셔너리의 경우 index와 value가 같이 만들어지며, 리스트의 경우 value만 지정됨

In [3]:
# 판다스 라이브러리 import

import pandas as pd

In [8]:
# DataType이 리스트인 경우

ls1 = [1,2,3,4,5,6,7,8,9]
ls2 = [1,2,3,'Apple', 'play', 6,7,8,9]

sr1 = pd.Series(ls1) # 리스트로 시리즈 만들기
sr2 = pd.Series(ls2) # 시리즈를 만들면 색인이 자동으로 0부터 붙게됨

print(sr1)
print()
print(sr2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

0        1
1        2
2        3
3    Apple
4     play
5        6
6        7
7        8
8        9
dtype: object

In [9]:
# Series에 Name을 설정할 수 있음
# 그냥 Series의 이름을 설정하는 부분이가봄
sr1.name = "Number"
sr2.name = "Word"
sr2

0        1
1        2
2        3
3    Apple
4     play
5        6
6        7
7        8
8        9
Name: Word, dtype: object

In [10]:
# Dictionary로 만들기
# Dictionary로 만들면 자동으로 붙는 색인이 딕셔너리의 키값이 됨

dicionary1 = {"a" : 1,"b" : 2,"c" : 3,"d" : 4}

sr3 = pd.Series(dicionary1)
print(sr3)
sr3.name = "Number"
sr3

a    1
b    2
c    3
d    4
dtype: int64

a    1
b    2
c    3
d    4
Name: Number, dtype: int64

# 삼성전자 종가 Series로 불러오기
- csv 파일에서 가져올것임
- path, index_col, header, squeeze 사용

In [20]:
path = "C:\\Users\\window11\\Documents\\codes\\python\\pandas\\강의자료\\Data\\삼성전자종가.csv"

#a = pd.read_csv(path, index_col = 0, header = 0).squeeze()
samsung_price = pd.read_csv(path, index_col = 0) # 자동으로 생성되는 인덱스를 없애고, 가져온 0번째 행을 인덱스로 사용하겠다는 뜻
samsung_price = pd.read_csv(path, index_col = 0, header = 0) # header는 0번쨰 인덱스를 열의 이름으로 사용하겠다는 뜻, 기본도 0이라 안써도 됨
samsung_price = pd.read_csv(path, index_col = 0, header = 0).squeeze() # squeeze를 하면, 1열짜리 데이터프레임을 Series로 바꿔줌

print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

# Series Index & Value

In [24]:
import pandas as pd
samsung_price = pd.read_csv(path, index_col = 0).squeeze()
print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [25]:
# samsung price의 인덱스만 추출
# array 형태로 나옴옴
print(samsung_price.index)

Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)

In [26]:
# 2020-12-15 처럼 특정 날짜의 데이터를 가져오는 방법 
# loc 사용
print(samsung_price.loc['2020-12-15'])

73800

In [29]:
# 몇번째 값을 뽑을때는 iloc 사용
samsung_price.iloc[100]

49500

# Series에 새로운 행을 추가하고 싶을때

In [30]:
samsung_price

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [31]:
# samsung_price의 총 길이
# samsung_price.index[samsung_price.shape[0]-1]
samsung_price.shape

(977,)

In [32]:
samsung_price.index[samsung_price.shape[0]-1] # 맨 마지막 날짜 뽑는 코드

'2021-12-17'

In [37]:
samsung_price.loc['2021-12-20'] = 77100
samsung_price
samsung_price.iloc[0] = 0
samsung_price

Date
2018-01-02        0
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
2021-12-20    77100
Name: Close, Length: 978, dtype: int64

In [38]:
samsung_price.describe() # series의 정보를 나타내는 함수

count      978.000000
mean     57263.936605
std      14208.713811
min          0.000000
25%      46262.500000
50%      51300.000000
75%      70200.000000
max      91000.000000
Name: Close, dtype: float64

# 두개의 Series를 합성함

In [52]:
path = "C:\\Users\\window11\\Documents\\codes\\python\\pandas\\강의자료\\Data\\samsung_excel.xlsx"
series1_samsung = pd.read_excel(path, sheet_name='Sheet1', index_col = 0).squeeze()
series1_samsung
series2_samsung = pd.read_excel(path,index_col=0,sheet_name='Sheet2').squeeze()
series2_samsung

series_samsung = pd.concat([series1_samsung, series2_samsung], ignore_index=False) # ignore_index = False가 디폴트, 원래 표에 있는 인덱스를 쓴다는 뜻
series_samsung

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-20    77100
2021-12-21    78100
2021-12-22    79400
2021-12-23    79900
2021-12-24    80500
Name: Close, Length: 982, dtype: int64

# Series 기본 통계치 구하기

In [55]:
path = "C:\\Users\\window11\\Documents\\codes\\python\\pandas\\강의자료\\Data\\삼성전자종가.csv"
samsung_price = pd.read_csv(path, index_col=0).squeeze()
samsung_price

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [60]:
# 삼성전자의 고점과 저점 구하기
print(f"고점 : {samsung_price.max()}")
print(f"저점 : {samsung_price.min()}")
print()
print(samsung_price.describe())

고점 : 91000
저점 : 37450

count      977.000000
mean     57295.854657
std      14084.402274
min      37450.000000
25%      46300.000000
50%      51300.000000
75%      70200.000000
max      91000.000000
Name: Close, dtype: float64

In [67]:
# 배열을 반환하는데, 배열에서 해당값이 있으면 true로 됨. 그리고 그 true가 된 값의 index를 가져옴
samsung_price.index[samsung_price.values == samsung_price.max()]
samsung_price.values == samsung_price.max()
samsung_price.index[samsung_price.values  == samsung_price.min()]

Index(['2019-01-04'], dtype='object', name='Date')

In [71]:
print(samsung_price.iloc[samsung_price.argmin()]) # argmin() 은 가장 작은 값의 위치의 요소를 가져오는 코드
print(samsung_price.index[samsung_price.argmin()])
print(samsung_price.iloc[samsung_price.argmax()])
print(samsung_price.index[samsung_price.argmax()])

37450
2019-01-04
91000
2021-01-11

# Series 연산

- 삼전 수익률 구하기
- pct_change() 함수 사용하면 됨

In [74]:
samsung_price.shift(1) # 값들을 아래로 한칸씩 다 밀어버림
# 빈칸은 NaN 으로 채워짐

Date
2018-01-02        NaN
2018-01-03    51020.0
2018-01-04    51620.0
2018-01-05    51080.0
2018-01-08    52120.0
               ...
2021-12-13    76900.0
2021-12-14    76800.0
2021-12-15    77000.0
2021-12-16    77600.0
2021-12-17    77800.0
Name: Close, Length: 977, dtype: float64

In [76]:
# 원래의 Series 에서 한칸 아래로 민 Sereis를 빼는 연산
# Nan 값을 연산하면 값이 어떻든 Nan 이 됨
samsung_price - samsung_price.shift(1)

Date
2018-01-02       NaN
2018-01-03     600.0
2018-01-04    -540.0
2018-01-05    1040.0
2018-01-08    -100.0
               ...
2021-12-13    -100.0
2021-12-14     200.0
2021-12-15     600.0
2021-12-16     200.0
2021-12-17     200.0
Name: Close, Length: 977, dtype: float64

In [79]:
# samsung_price 와 samsung_price를 한칸 민걸 연산을 하면, 변동량이 책정됨
# 그 값에다가 한칸 아래로 민 값을 나눠주면 변동률이 계산이 됨
samsung_return = (samsung_price - samsung_price.shift(1))/samsung_price.shift(1)
samsung_return

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [83]:
samsung_price.pct_change() # 이게 그냥 수익률 구하는 함수임. 위에 연산을 할 필요 없이 이 함수 호출하면 됨

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [85]:
samsung_return.max()

0.10470588235294118

In [89]:
print(samsung_return.argmax()) # 가장 큰 값은 546번쨰 행에 있음
print(samsung_return.index) # 배열을 가져와서
print(samsung_return.index[samsung_return.argmax()]) # 그 배열의 546번쨰 인덱스를 출력함 (인덱스를 날짜로 설정했기 때문에, 날짜가 나옴)

546
Index(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-15',
       ...
       '2021-12-06', '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
       '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16', '2021-12-17'],
      dtype='object', name='Date', length=977)
2020-03-24

# Nan 값

- dropna()
- fillna(채울 숫자)

In [92]:
samsung_price = pd.read_csv(path, index_col = 0, header = 0).squeeze()
samsung_price
samsung_return = (samsung_price - samsung_price.shift(1))/samsung_price.shift(1)
samsung_return = samsung_price.pct_change()
samsung_return

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [95]:
samsung_return.dropna() # Nan 값을 드롭 즉 삭제시켜버림

Date
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
2018-01-09   -0.031142
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 976, dtype: float64

In [97]:
samsung_return.fillna(0)# Nan 값에다가 인자의 숫자를 채워넣음

Date
2018-01-02    0.000000
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

# 순서대로 정렬
- sort_index() 
- sort_values()

In [99]:
samsung_price = pd.read_csv(path, index_col = 0, header = 0).squeeze()
samsung_price
samsung_return = (samsung_price - samsung_price.shift(1))/samsung_price.shift(1)
samsung_return = samsung_price.pct_change()
samsung_return

Date
2018-01-02         NaN
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

In [102]:
# index 순서대로 정렬
samsung_price.sort_index(ascending=True)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 977, dtype: int64

In [104]:
# value 순서대로 정렬
samsung_price.sort_values(ascending=True) # 값이 낮은 순서대로 정렬

Date
2019-01-04    37450
2019-01-03    37600
2019-01-08    38100
2018-12-27    38250
2018-12-26    38350
              ...
2021-01-25    89400
2021-01-13    89700
2021-01-14    89700
2021-01-12    90600
2021-01-11    91000
Name: Close, Length: 977, dtype: int64

# Series 조건 설정

In [ ]:
samsung_price = pd.read_csv(path, index_col = 0, header = 0).squeeze()
samsung_price
samsung_return = (samsung_price - samsung_price.shift(1))/samsung_price.shift(1)
samsung_return = samsung_price.pct_change() * 100 # 퍼센트로 계산
samsung_return

Date
2018-01-02         NaN
2018-01-03    1.176009
2018-01-04   -1.046106
2018-01-05    2.036022
2018-01-08   -0.191865
                ...
2021-12-13   -0.130039
2021-12-14    0.260417
2021-12-15    0.779221
2021-12-16    0.257732
2021-12-17    0.257069
Name: Close, Length: 977, dtype: float64

In [114]:
#print(samsung_return.values)
print(samsung_return[samsung_return.values >= 4])

Date
2018-03-06     4.026549
2018-09-14     4.086266
2018-11-02     4.744958
2019-03-21     4.086266
2020-03-20     5.704307
2020-03-24    10.470588
2020-04-17     4.897959
2020-06-03     6.031128
2020-06-16     4.408818
2020-07-28     5.395683
2020-11-16     4.905063
2020-11-23     4.327666
2020-12-24     5.277402
2021-01-08     7.117008
2021-02-25     4.024390
2021-11-22     5.196629
2021-12-01     4.347826
Name: Close, dtype: float64

In [121]:
import numpy as np
np.where(samsung_return.values >= 4, 1, 0)
samsung_return_over_4 = pd.Series(np.where(samsung_return.values>=4, "Over 4%", "Under"))# where로 찾아가지고, 조건에 충족되면 "Over 4%"로 표시, 안되면 "Under"로 표시
samsung_return_over_4.index = samsung_return.index # 인덱스를 날짜로 부여하기 위해서 작성
samsung_return_over_4.loc['2020-06-16'] # 특정날의 데이터가 오버인지 아래인지 확인

'Over 4%'

# Series 값의 구간을 나눠보자